body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

h3 {
  font-weight: 600;
}

section {
  height: 80vh; // A changer !!!
}

article {
  align-items: center;
}

form {
  width: fit-content;
}

select {
  option {
    width: fit-content;
  }
}

label {
  color: #000;
}

input {
  background-color: #ffff;
}

textarea {
  width: fit-content;
}
