/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem;
  background-color: $primary;
  color: $secondary;
}

.logo img {
  width: 100px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 1.5rem;
}

.nav li a {
  text-decoration: none;
  color: $secondary;
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  background-color: $secondary;
  color: $third;
  cursor: pointer;
}

/*---------------------------------------------------------------------*/

/* FOOTER */

.footer {
  background-color: $primary;
  color: $secondary;
  padding: 1.5rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  color: $secondary;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.social-media ul,
.legal ul {
  list-style-type: none;
  padding: 0;
}

.social-media a,
.legal a {
  color: $secondary;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
}

.social-media a:hover,
.legal a:hover {
  color: $secondary;
}

.copyright {
  text-align: center;
  margin-top: 1rem;
}
